{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste Burger{% endblock %}

{% block body %}
    <div>
        <h1 class="text-3xl font-bold underline m-0">
            Liste Burger
        </h1>
        <button class="btn btn-success" type="button">
            <a style="text-decoration: none; color:white" href="{{ path('burger_creation') }}"> + </a> 
        </button>
    </div>

    <div class="card-deck">
        {% for burger in burgers %}
            <div class="card">
                <img class="card-img-top" src={{ asset((burger.image) ? burger.image.url : "") }} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ burger.nom }}  </h5>
                    {# Afficher détail du burger (ingrédients etc) #}
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                    <a href="{{ path("burger_detail", {'id': burger.id}) }}">Détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}